openapi: 3.0.3
info:
  title: Обмен AsterX => Alfa Auto
  description: |-
    Описание
  version: kz
servers:
  - url: https://alfa-auto.kz

paths:
  /amp-estimate-kz:
    post:
      tags:
        - amp-estimate-kz
      summary: Краткое описание
      description: Подробное описание
      requestBody:
        required: true
        description: Описание для JSON
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarSale'
          application/xml:
            schema:
              $ref: '#/components/schemas/CarSale'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CarSale'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarSale'
            application/xml:
              schema:
                $ref: '#/components/schemas/CarSale'
  
  /repairCall:
    post:
      tags:
        - Repair Call
      summary: Краткое описание
      description: Подробное описание
      requestBody:
        required: true
        description: Описание для JSON. link - экранированная строка с ссылкой на запись телефонного звонка.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepairCall'
          application/xml:
            schema:
              $ref: '#/components/schemas/RepairCall'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RepairCall'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepairCall'
            application/xml:
              schema:
                $ref: '#/components/schemas/RepairCall'
  
  /repairOrder:
    post:
      tags:
        - Repair Order
      summary: Краткое описание
      description: Подробное описание
      requestBody:
        required: true
        description: Описание для JSON. link - экранированная строка с ссылкой на запись телефонного звонка.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepairOrder'
          application/xml:
            schema:
              $ref: '#/components/schemas/RepairOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RepairOrder'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepairOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/RepairOrder'
    
components:
  schemas:
    CarSale:
      type: object
      properties:
        date:
          type: string
          format: date-time
          example: "2025-01-22T20:50:43"
        id:
          type: string
          example: "425212"
        car:
          $ref: '#/components/schemas/Car'
        keyCount:
          type: integer
          example: 1
        plateNumber:
          type: string
          example: "959JAA01"
        techPassport:
          $ref: '#/components/schemas/TechPassport'
        organizationBin:
          type: string
          example: "210440014621"
        receiptTypeOfUsedCar:
          type: string
          example: "26"
        RRC:
          type: integer
          example: 11110000
        planSalePrice:
          type: integer
          example: 10710000
        client:
          $ref: '#/components/schemas/Client'
        managerIin:
          type: string
          example: "990802300976"
        ossManagerIin:
          type: string
          example: "001220601086"
        damages:
          type: array
          items:
            type: object
        divisionCode:
          type: string
          example: "110"
        finalPrice:
          type: integer
          example: 9000000
        contractPrice:
          type: integer
          example: 9000000
        willBeFixedParts:
          type: integer
          example: 39000
        willBeFixedLabor:
          type: integer
          example: 59000

    Car:
      type: object
      properties:
        vin:
          type: string
          example: "Z8NFBAJ11ES089400"
        markaId:
          type: integer
          example: 97
        modelId:
          type: integer
          example: 1030
        variantId:
          type: integer
          example: 14199
        year:
          type: integer
          example: 2019
        bodyTypeId:
          type: string
          example: "6"
        dwheelType:
          type: string
          example: "Передний"
        transmissionId:
          type: string
          example: "1"
        engineVolume:
          type: string
          example: "1997"
        engineTypeId:
          type: string
          example: "1"
        color:
          type: string
          example: "Белый"
        mileage:
          type: integer
          example: 58371
        interiorMaterials:
          type: string
          example: "Темный"
        steering:
          type: string
          example: "1"
        engineNumber:
          type: string
          example: "?"
    
    CarRepairOrder:
      type: object
      properties:
        markaId:
          type: integer
          example: 97
        modelId:
          type: integer
          example: 1046
        vin:
          type: string
          example: "Z8NTBNT32ES150987"
        year:
          type: integer
          example: 2021
        mileage:
          type: integer
          example: 14000
        plateNumber:
          type: string
          example: "752FHA02"
        uuid:
          type: string
          format: uuid
          example: "18115f8f-7e6c-11ec-85fc-00155d1ea000"
          
    TechPassport:
      type: object
      properties:
        date:
          type: string
          format: date-time
          example: "2019-11-20T00:00:00"
        number:
          type: string
          example: "00438860"
        series:
          type: string
          example: "ZJ"

    Client:
      type: object
      properties:
        isBusiness:
          type: boolean
          example: false
        iin:
          type: string
          example: "951109400079"
        lastName:
          type: string
          example: "БАБАШЕВА"
        firstName:
          type: string
          example: "АЛЬФИЯ"
        middleName:
          type: string
          example: "МАРСЛИНКЫЗЫ"
        gender:
          type: string
          example: "F"
        birthdate:
          type: string
          format: date
          example: "1995-11-09"
        language:
          type: string
          example: "RU"
        phone:
          type: string
          example: "77014827717"
        email:
          type: string
          example: ""
        address:
          $ref: '#/components/schemas/Address'
        document:
          $ref: '#/components/schemas/Document'
        name:
          type: string
          example: ""
        fullName:
          type: string
          example: ""

    Address:
      type: object
      properties:
        postAddress:
          type: string
          example: "г.Алматы Медеуский район Хоружей 75"

    Document:
      type: object
      properties:
        documentType:
          type: string
          example: "Удостоверение личности РК"
        series:
          type: string
          example: ""
        number:
          type: string
          example: "042555774"
        dateOfIssue:
          type: string
          format: date
          example: "2017-04-07"
        issuedAuthority:
          type: string
          example: "МВД РК"

    RepairCall:
      type: object
      properties:
        client:
          type: string
          example: "Александр    "
        phone1:
          type: string
          example: "87473096585"
        language:
          type: string
          example: "Русский"
        sex:
          type: string
          example: "m"
        city:
          type: string
          example: "Астана"
        branchCode:
          type: string
          format: uuid
          example: "d302d40a-0683-11ed-9c2d-00155d065400"
        brand:
          type: string
          example: "LADA"
        model:
          type: string
          example: "Granta"
        customerQuestion:
          type: string
          example: "есть вопросы насчет замены масла и замены колодки"
        date:
          type: string
          format: date-time
          example: "2025-01-22T05:00:00"
        time:
          type: string
          example: "17:44"
        link:
          type: array
          items:
            $ref: '#/components/schemas/RepairCallLinkDetails'
        status:
          type: integer
          example: 1
        oktellId:
          type: integer
          example: 89782
        id:
          type: integer
          example: 15033

    RepairCallLinkDetails:
      type: object
      properties:
        link:
          type: string
          format: uri
          example: "https://api:api@oktell.aster-auto.kz:443/download/byscript?name\\u003ddownload_rec\\u0026startparam1\\u003d1C5EAFF1-E2C8-4516-A96A-9FC456875AF4\\u0026async\\u003d0\\u0026timeout\\u003d10"
        TimeStart:
          type: string
          format: date-time
          example: "2025-01-22T17:39:32.003"
        TimeAnswer:
          type: string
          format: date-time
          example: "2025-01-22T17:39:33.983"
        TimeStop:
          type: string
          format: date-time
          example: "2025-01-22T17:40:28.400"
        Astr:
          type: string
          example: "87473096585"
        Bstr:
          type: string
          example: "Өмірбек Санжар"
    
    RepairOrder:
      type: object
      properties:
        organization:
          type: string
          format: uuid
          example: "e7659be2-02c2-11ed-b241-00155d1e900f"
        owner:
          $ref: '#/components/schemas/Person'
        client:
          $ref: '#/components/schemas/Person'
        masterReceiver:
          $ref: '#/components/schemas/Receiver'
        author:
          $ref: '#/components/schemas/Author'
        repairType:
          type: string
          example: "Платный"
        repairKind:
          type: string
          format: uuid
          example: "bc9fc978-4855-11ed-b244-00155d1e900f"
        car:
          $ref: '#/components/schemas/Car'
        malfunctions:
          type: string
          example: "проверка задних бампер, дефекты хочет проверить все в порядке"
        division:
          type: string
          format: uuid
          example: "6cd2d373-03e4-11ed-9c2c-00155d065400"
        requestType:
          type: string
          example: ""

    Person:
      type: object
      properties:
        isBusiness:
          type: boolean
          example: false
        iin:
          type: string
          example: "760508401440"
        firstName:
          type: string
          example: "Евгения"
        lastName:
          type: string
          example: "Боженко"
        middleName:
          type: string
          example: "Валерьевна"
        gender:
          type: string
          example: "F"
        birthdate:
          type: string
          format: date-time
          example: "0001-01-01T00:00:00"
        phone:
          type: string
          example: "+7 (777) 244-49-27"
        language:
          type: string
          example: "RU"
        address:
          type: object
          additionalProperties: true
        payer:
          type: boolean
          example: true
        uuid:
          type: string
          format: uuid
          example: "3ade22b5-02b6-11ea-80dc-ac1f6b97462f"

    Receiver:
      type: object
      properties:
        iin:
          type: string
          example: "980716301281"

    Author:
      type: object
      properties:
        iin:
          type: string
          example: "011030500685"


